.actv{
    background: rgba(33, 93, 79, 1);
    color: white;
    padding: 8px 40px;
    border: 1px solid black;
    border-radius: 10px;
    font-weight: 500;
}
.actv:hover{
    cursor: pointer;
}

.not_actv{
    color: rgba(33, 93, 79, 1);
    opacity: 0.7;
    border: 1px solid grey;
    border: 1px solid rgba(33, 93, 79, 0.29);
    padding: 8px 40px;
    border-radius: 10px;
    font-weight: 500;
}
.not_actv:hover{
    cursor:pointer
}